/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */

//Imported fonts
@font-face {
  font-family: 'varela_roundregular';
  src: url('../fonts/varelaround-regular-webfont.eot');
  src: url('../fonts/varelaround-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/varelaround-regular-webfont.woff2') format("woff2"), url('../fonts/varelaround-regular-webfont.woff') format("woff"), url('../fonts/varelaround-regular-webfont.ttf') format("truetype"), url('../fonts/varelaround-regular-webfont.svg#varela_roundregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

// Variables
@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "grid-settings";

// Extends
@import "extends/button";
@import "extends/clearfix";
@import "extends/errors";
@import "extends/flashes";
@import "extends/hide-text";

// Typography and Elements
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "buttons";
